@import './Variables/variables';

.outer-dropdown2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 530px;
    top: 45px;
    right: 100px;
    p {
        color: $linkcolor;
    }
    p:hover {
        text-decoration: underline;
        text-decoration-color: orange;
        color: orange;
    }
}
.input-dropdown4 {
    display: flex;
    width: 95%;
    height: 95%;
    border-radius: 1.5px;
    box-shadow: 0 0 0 1px grey;
}
.input-dropdown4::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid white;
    left: 715px;
    top: 5px;
    background-color: white;
    transform: rotate(-135deg);
}


.column-container {
    background-color: white;
    width: 100%;
    font-size: 14px;
    h3 {
        cursor: text;
        user-select: text;
    }
}
.column-container1 {
    border-right: 1px solid grey;
    padding: 15px;
}
.column-container2 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    line-height: 1.5em;
    .bar {
        width: 90%;
        left: 0%;
        margin: 5px 0px;
    }
    h3 {
        padding-bottom: 10px;
    }
    p {
        color: black;
        cursor: pointer;
    }
    p:hover {
        color: orange;
    }
}
.bar-vertical {
    box-shadow: 0 0 0 .2px grey;
    height: 95%;
    position: relative;
    top: 2.5%;

}
.buyagain-top {
    margin-bottom: 10px;
    line-height: 1.5em;
}
.buyagain-item {
    display: flex;
    align-items: center;
}
.img {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}
.buyagain-content {
    width: 100%;
    color: orange;
    padding: 5px 10px;
    line-height: 1.2em;
    a:hover {
        text-decoration: none;
        cursor: pointer;
    }
    .price {
        color: orange;
    }
    .price:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    button {
        background-color: orange;
        color: black;
        border-radius: 4px;
    }
    button:hover {
        filter: brightness(90%);
    }
}